body{
  background-image:url("https://lh3.googleusercontent.com/yqs_Q4GzkeWazRY8kgSny7xKQcVnZhHIOs_o94fQolYVhW6S2e1R_Y1kpm-yrkYehMZKOm_O3HbqS49IH0rHJKJhUEPmfrlh3LpAvQzzkr4sFffcqfssBcZvH-8R29qNYT_W3kuzEqrhMu1imvjPjiSqGEgwIUBYrXzRXu65QMLPLRUUjXN3cK-k7U9RpiJ51Y6y0qKzYlcn0mO3b3FWkv1qiEdSVnuy22E_T4pl0rEZNmneekHnvQmzaCXtUzCo0LFXyo_AuB5dYakxtwkJs8RJ4n2sCAv_bwZmMUriuV_MQgZ6I8ejiF1iH74c0Eg1QDp6DsKazy49-3Hr6atSEqmqcZCgbQd9kWPKDtyISppOf9-KyJplNWDcWKDwkHYzOx8ZCO3lR8HFuAzd4UqVPE4e70NhAZ74CByAXf6XSz4dd97zhK57m-Jr6O5asV27ZVt06dguCTOr7eMyEElCc2d0Dzwmlu2bvHI9P82Ah3UVX1-ogvHCKD5GmuJAX5MveeVp2rC5bU59YsjkFSMWog1QU-QuTWA-JWyCJNXhq6EJng2lENchDDp1_nItRXozj7Ibw4roNTiSjGP6jRJQCkaEcBfAn35Z37zBlVg=w789-h800-no");
  background-size:100px;
  min-width:300px;
}
#main{
  text-align:center;
  background: rgba(255, 230, 255, 0.95);
  margin:3em;
  font-color:white;
}
header{
    margin-left:20vw;
  margin-right:20vw;
}
article{
/*   border: 3px solid red;; */
  text-align:center;
}
ul{
  padding:0px;
}
li{
/*   border: 3px solid black; */
  margin-left:20vw;
  margin-right:20vw;
  list-style-position:outside;
  text-align:left;
}

img {
margin:auto;
max-width: 100%;
display: block;
height: auto;
}
/* #notableWorks{
  width:1000px;
} */
#quote{
  margin-left:2em;
  margin-right:2em;
  border:2px double pink;
  background-color:white;
  opacity:1;
}
@media (max-width: 600px) {
  body{
    background-size:50px;
  }
  #main{
    margin:3%;
    
  }
}
